<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#cbd5e1" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: #cbd5e1" > Espere un momento por favor... </p></ngx-spinner>
<div class="container">
  <h2>Nasa</h2>

  <div class="d-flex flex-row align-items-center my-4">
    <p class="mr-3">Seleccione el rover: </p>
    <div class="btn-group" role="group" aria-label="Basic example" aria-current="page">
      <button type="button" class="btn btn-primary" (click)="loadData('spirit')">Spirit</button>
      <button type="button" class="btn btn-primary" (click)="loadData('opportunity')">Opportunity</button>
      <button type="button" class="btn btn-primary" (click)="loadData('curiosity')">Curiosity</button>
    </div>
  </div>


  <main>
   <div 
    class="d-flex flex-row flex-wrap justify-content-between">
    <ng-container *ngFor="let photo of photos; let i=index">
      <app-card [photo]="photo" class="my-2"></app-card>
    </ng-container>
   </div>    
  </main>
</div>